{% extends 'base.html.twig' %}

{% block title %}Hiolle Technologies - Modification Licence Office{% endblock %}

{% block body %}
    {% include 'le_CSS/css_modif.html.twig' %}

    <div class="formulaire">
        <h2>Modifier Office</h2>
        <div class="row">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="poste_o_l_h_tech" class="form-label">Poste :</label>
                    <input type="text" class="form-control" id="poste_o_l_h_tech" name="poste_o_l_h_tech" value="{{ OfficeLicenceHTech.posteOLHTech }}">
                </div>
                <div class="mb-3">
                    <label for="utilisateur_o_l_h_tech" class="form-label">Utilisateur :</label>
                    <input type="text" class="form-control" id="utilisateur_o_l_h_tech" name="utilisateur_o_l_h_tech" value="{{ OfficeLicenceHTech.utilisateurOLHTech }}">
                </div>
                <div class="mb-3">
                    <label for="type_o_l_h_tech" class="form-label">Type :</label>
                    <input type="text" class="form-control" id="type_o_l_h_tech" name="type_o_l_h_tech" value="{{ OfficeLicenceHTech.typeOLHTech }}">
                </div>
                <div class="mb-3">
                    <label for="licence_o_l_h_tech" class="form-label">Licence :</label>
                    <input type="text" class="form-control" id="licence_o_l_h_tech" name="licence_o_l_h_tech" value="{{ OfficeLicenceHTech.licenceOLHTech }}">
                </div>
                <!--Bouton pour valider-->
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock %}